
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OverSequent</title>
</head>
<body>
    <div>
        Can not skip checking the previous location (@(ViewBag.previousLocation)). Please back to the previous location and check the place.
    </div>
</body>
</html>
